article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.background {
  background-image: url(/images/through_the_trees.jpg);
  background-position: center;
  background-size: cover;
  flex: 3;
}

.logo-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  top: 100px;
  background-color: rgb(0, 0, 0, 0.5);
}

.logo {
  height: 80%;
}

h1 {
  font-family: "Kalam", cursive;
  font-size: 60px;
  color: whitesmoke;
}

.form-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  flex: 5;
  background-color: gainsboro;
}

.form-heading {
  padding: 7px;
}

.form-heading,
.form-intro,
.existing-account {
  font-family: "Cabin";
  font-size: 1.7rem;
}

.form-intro {
  padding-top: 7px;
}

.form-intro, .existing-account {
  padding-left: 7px;
}

.inputs-area {
  background-color: white;
  flex: 5;
  box-shadow:0 5px 5px rgb(49, 49, 49);
}

.form-row {
  display: flex;
  justify-content: space-around;
}

.form-row > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-row input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

.btn-create-account {
  position: relative;
  top: 20px;
  background-color: mediumaquamarine;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Cabin';
  left: 100px;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.btn-create-account:hover {
  background-color:#0079ad;
  transition: 0.7s;
}