article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
}

.background {
  background-image: url(/images/through_the_trees.jpg);
  background-position: center;
  background-size: cover;
  flex: 3;
}

.logo-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200px;
  top: 100px;
  background-color: rgb(0, 0, 0, 0.5);
}

.logo {
  height: 80%;
}

h1 {
  font-family: "Kalam", cursive;
  font-size: 60px;
  color: whitesmoke;
}

.form-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  flex: 5;
  background-color: gainsboro;
}

.form-heading,
.form-intro {
  font-family: "Cabin";
  font-size: 1.7rem;
}

.account-creation-details {
  background-color: white;
  flex: 5;
}

.form-row {
  display: flex;
  justify-content: space-around;
}

.form-row > div {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

.form-row input[type="email"] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

.form-row input[type="tel"] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}